body {
  background-color: #eaeaea;
}

input {
  font-size: 18px;
}

.app {
  margin: 0 auto;
  position: relative;
  width: 50%;
  margin-top: 100px;
}

button {
  background-color: tomato;
  color: white;
  padding: 8px 18px;
  border: 0;
  margin-left: 5px;
}

.pointer-on-hover:hover,
button:hover {
  cursor: pointer;
}

.availability-button {
  background-color: #eaeaea;
  color: black;
}

/*************
Worker list
**************/

.workers-list {
   margin-bottom: 50px;
}

.worker-name {
  margin-bottom: 5px;
  margin-top: 22px;
}

.worker-item {
  margin-top: 10px;
}

.worker-item span,
.worker-item input {
  margin-right: 20px;
  font-size: 18px;
}


/*************
Calendar
**************/

.calendar {
  margin-top: 50px;
}

.calendar h2 {
  padding-left: 10px;
}

.time-slots {
  display: inline-block;
}

.calendar ul {
  padding-left: 0;
}

.time-slots {
  padding-right: 30px;
  background-color: white;
}

.time-slots li {
  list-style: none;
  height: 20px;
  padding: 5px 0px 5px 10px;
}

.time {
  display: inline-block;
  border-right: 1px solid black;
  padding-right: 10px;
}

.slot {
  float: right;
  padding-right: 10px;
}

.unavailable {
  background-color: #fc8585;
}

.available {
  background-color: #b2ffb2;
}
